* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
     
}

.ext-link, .home-link {
    padding: 5px;
    border: 2px solid lightgray;
    display: inline-block;
    margin: 10px;
}


.home-title {
    text-align: center;
}

.navigation {
    text-align: center;
}

.navigation li {
    display: inline-block;
    width: 200px;
    height: 60px;
    margin: 20px;
    background-color: black;
    border: 2px solid white;
    vertical-align: top;
    padding-top: 10px;
}



